body {
  height: 98vh;
  margin: 0 0 2vh 0;
}

.search-form {
  background-color: lightblue;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

input {
  font-size: 16px;
  padding: 4px;
  width: 40vw;
}

.submit-btn {
  height: 29px;
}
