body {
  height: 98vh;
  margin: 0 0 2vh 0;
}

.search-form {
  background-color: lightblue;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

input {
  font-size: 16px;
  padding: 4px;
  width: 40vw;
}

.submit-btn {
  height: 29px;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

.photo-card {
  margin-bottom: 15px;
  border: solid 1px lightgray;
  border-radius: 5%;
  border-top: none;
}

img {
  object-fit: cover;
  width: 350px;
  height: 230px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info-item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.is-hidden {
  display: none;
  visibility: hidden;
}

.load-more {
  margin: 15px auto;
  width: 20%;
  margin-left: 38%;
  background-color: lightblue;
  font-size: 25px;
  cursor: pointer;
  border-width: 0px;
  border-radius: 5%;
}

.load-more:hover {
  background-color: lightcyan;
}

.gallery {
  display: flex;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: calc((100vh - 500px) / 2);
}

.welcome-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.welcome-input {
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  font-size: 20px;
  border-style: solid;
  border-color: lightblue;
}

.welcome-image {
  width: 500px;
  height: 300px;
  position: relative;
}

.welcome-submit-btn {
  width: 30%;
  background-color: lightblue;
  font-size: 25px;
  cursor: pointer;
  border-width: 0px;
  border-radius: 5%;
}

@media screen and (max-width: 600px) {
  .load-more {
    width: 300px;
    margin-left: calc((100vw - 300px) / 2);
  }

  .welcome-image {
    width: 80%;
    height: 30vh;
  }

  .welcome-input {
    width: 80vw;
  }

  .welcome-submit-btn {
    width: 150px;
  }
}

.title {
  margin: 0px;
  padding: 20px;
  font-size: 42px;
  font-family: cursive;
  color: rgb(21, 64, 104);
}

.welcome-submit-btn:hover {
  background-color: lightcyan;
}

.is-hidden {
  display: none;
}
